/**********************************************************************************
 *
 * html/css/style.css
 *
 * Supplies basic styles for our views
 *
 * Ansel Duff
 * Computer Science 164
 * Project1
 *
**********************************************************************************/
/*
 * This document is also a work in progress
 */

html
{
    height: 100%;
    overflow: none;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: none;
}
#map_body
{
    overflow: none;
}
#map, #map_container
{
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: absolute;
    padding: 0;
    overflow: none;
}
#form_container
{
    background-color: #C0C0C0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: none;
}
